.hero-heading-container {
  margin: 4rem;
  text-align: center;
}
.hero-title {
  font-size: 2.5em;
  background: linear-gradient(to right, #61c2e4 0%, #5e5e5e 100%);
  color:white;
}
  
.hero-subtitle {
  margin: 1em 0 2em 0em;
  line-height: 1.5;
  color: grey;
}
  
@media (min-width: 768px) {
  .hero-title {
    font-size: 9em;
  }

  .hero-subtitle {
    font-size: 3em;
  }
}

@media (max-width: 460px) {
  .hero-heading-container {
    margin: 0; 
  }
}